html {
    font-family: Courier New;
}

body {
    background-color: #B6E0A5;
    margin: 40px;
}

.span1 {
    font-family: Courier New;
    border-style: solid;
    background-image: url("matrix.gif");
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.image1 {
    border-style: solid;
    background: forestgreen;
    border-color: forestgreen;
    border-radius: 20px;
    border-width: 5px;
    width: 100px;
    height: 100px;
}

    .image1:hover {
        width: 700px;
        height: 550px;
    }

.image2 {
    border-style: solid;
    background: forestgreen;
    border-color: forestgreen;
    border-radius: 20px;
    border-width: 5px;
    width: 100px;
    height: 100px;
}

.image2:hover {
        width: 300px;
        height: 600px;
}

ul {
    list-style: none;
}

.span3 {
    border-style: solid;
    background: #5FDB2D;
    border-color: #5FDB2D;
    border-radius: 20px;
    border-width: 5px;
    color: white;
    font-size: x-large;
}

.span2 {
    border-style: solid;
    background: forestgreen;
    border-color: forestgreen;
    border-radius: 20px;
    border-width: 5px;
    color: white;
    font-size: x-large;
}

#div1 {
    display: flex;
}

#div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
